@media screen and (min-width:1320px){
  header>div,article>div{
    width:1320px;
  }

  #box01>p{
    width: 1320px;
  }

  #box02>div{
    width:987px
  }

#box03>div{
  width: 1103px;
}

#box06>.box{
  width: 1103px;
}
}

@media screen and (max-width:1319px) and (min-width:1103px){
#box02>div{
    width:987px
  }

#box03>div{
  width: 1103px;
}

#box06>.box{
  width: 1103px;
}
}

@media screen and (max-width:1102px) and (min-width:980px){
#box02>div{
    width:987px
    }
}

@media screen and (max-width:979px) and (min-width:580px){

}

@media screen and (max-width:579px){

}