@charset "utf-8";

header{
  background-color:#242424 ;
  width: 100%;
}

header>div{
  width: 1437px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

header h1 {
  color: white;
  font-size: 2.4rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  padding: 10px;
}
nav li a {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}